.home {
  background-color: var(--cor-fundo);
}

.hero {
  min-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 20px;

  text-align: center;

  background-image: url("../assets/background-pagInicial.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.conteudo {
  max-width: 700px;
}

.conteudo h1 {
  margin-bottom: 16px;

  color: var(--cor-primaria);
  font-size: 48px;
}

.conteudo p {
  margin-bottom: 30px;

  color: var(--cor-texto);
  font-size: 20px;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.botoes a {
  padding: 12px 24px;

  border-radius: 8px;

  background-color: var(--cor-primaria);
  color: var(--cor-branca);

  font-size: 16px;
  font-weight: 600;

  text-decoration: none;
  cursor: pointer;

  transition: 0.2s;
}

.botoes a:hover {
  background-color: var(--cor-destaque);
}

.sobre {
  padding: 50px 20px;

  background-color: var(--cor-branca);

  text-align: center;
}

.sobre h2 {
  margin-bottom: 12px;

  color: var(--cor-primaria);
}