:root {
  --cor-primaria: #14213D;
  --cor-button: #294278;
  --cor-destaque: #4667ad;
  --cor-secundaria: #6B7280;
  --cor-fundo: #D5C0A7;

  --cor-branca: #FFFFFF;
  --cor-texto: #1F1F1F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}