.header {
    width: 100%;
    padding: 20px 40px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--cor-primaria);
    border-bottom: 1px solid var(--cor-secundaria);
}

.logo {
    margin: 0;
    font-size: 24px;
    color: var(--cor-branca);
}

.nav {
    display: flex;
    gap: 24px;
}

.nav a {
    color: var(--cor-branca);
    text-decoration: none;
    transition: 0.2s;
}

.nav a:hover {
    color: var(--cor-fundo);
}